# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout
      - setup_remote_docker:
          version: 17.06.0-ce

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test
      - run:
          command: |
            docker run --rm -ti -v /var/run/docker.sock:/var/run/docker.sock -e DOCKER_HOST \
              --name dockercloud_client dockercloud/client \
              -u $DOCKER_USER \
              -p $DOCKER_PASS \
              $DOCKER_SWARM
            export DOCKER_SWARM_PROXY=`docker inspect $(echo $DOCKER_SWARM | sed -E 's/^([a-z]+)\/([a-z]+)/client_proxy_\1_\2/g') -f {{.NetworkSettings.IPAddress}}`
            echo "Setting up docker cloud ctrl container with DOCKER_CLOUD_HOST @ $DOCKER_CLOUD_HOST"
            docker create -v /cfg --name configs alpine:3.4 /bin/true
            docker cp Makefile configs:/cfg
            docker run -e DOCKER_HOST=$DOCKER_SWARM_PROXY --rm \
              --volumes-from configs \
              -v /var/run/docker.sock:/var/run/docker.sock -d -t --entrypoint /bin/sh \
              --name docker_ccc docker:17.06.0-ce
            echo 'logging into docker ...'
            docker exec docker_ccc docker login -u $DOCKER_USER -p $DOCKER_PASS
            echo 'check for existing service ...'
            docker exec docker_ccc make -C /cfg/Makefile version VERSION=mudi_was_here_and+dan
